 <!-- <div class="edit-todo-wrapper container has-blurred-white-bg">
    <h2 class="is-bold">Maddeyi düzenle</h2>

    <form #editForm="ngForm" (ngSubmit)="editFormSubmit(editForm)"> #myform="ngForm" (ngSubmit)="onFormSubmit(myform)"
        <div class="form-field">
            <input class="textbox"  type="text" placeholder="Maddeyi düzenleyiniz..." required minlength="3"> ngModel #textField name="text"
            <ng-container *ngIf="textField.invalid">
                <p ng-if="textField.errors.required">Lütfen metin giriniz. Metin en az üç karakterden oluşmalıdır.</p>
            </ng-container> 
        </div>

        <div class="btn-container">
            <a routerLink="../" class="btn">Vazgeç</a>
            <button class="btn align-end">Kaydet</button>
        </div>
    </form>

</div>
-->